# Joing Data

In [5]:
import pandas as pd, numpy as np

In [6]:
def z_norm(x):
    
    res = (x - x.mean()) / x.std()
    
    return res

In [7]:
df_inc = pd.read_csv("df_norm_trans.csv", index_col = 0)

In [9]:
df_new = pd.read_csv("mean_imp_new.csv", index_col = 0)

df_new.iloc[:,1] = z_norm(df_new.iloc[:,1])
df_new.iloc[:,2] = z_norm(df_new.iloc[:,2])
df_new.iloc[:,3] = z_norm(df_new.iloc[:,3])
df_new.iloc[:,4] = z_norm(df_new.iloc[:,4])
df_new.iloc[:,5] = z_norm(df_new.iloc[:,5])
df_new.iloc[:,6] = z_norm(df_new.iloc[:,6])
df_new.iloc[:,7] = z_norm(df_new.iloc[:,7])
df_new.iloc[:,8] = z_norm(df_new.iloc[:,8])

df_new.head()

,Round,team1_32,team1_16,team1_8,team1_4,team2_32,team2_16,team2_8,team2_4
0,1,-0.355152,-0.723093,-0.070572,-0.787510,-1.922469,-1.294608,-0.906659,-0.797442
1,1,0.417991,1.275113,0.916813,-0.787510,-1.922469,-1.294608,-0.906659,-0.797442
2,1,0.647071,0.442527,-0.358559,0.165006,-0.000770,-0.145149,-0.906659,-0.797442
3,1,0.997849,1.462445,1.981337,1.355650,-1.922469,-1.294608,-0.906659,-0.797442
4,1,-1.257153,-0.373407,0.361409,-0.787510,-0.577280,-0.489987,-0.385284,0.072974

In [10]:
df_a = df_inc.iloc[:,:85] # Normal 
df_b = df_inc.iloc[:,-3:-1] # Distance Travelled
df_c1 = pd.read_csv("new_vars.csv", index_col = 0) # Elo ratings and Elevation Ratings
df_c = pd.concat([df_c1, df_new], axis = 1)
df_d = pd.read_csv("dummies.csv", index_col = 0) # dummies
target = df_inc.iloc[:,-1] # target

In [11]:
df_b['t1_dist_home'] = z_norm(df_b['t1_dist_home'])
df_b['t2_dist_home'] = z_norm(df_b['t2_dist_home'])

In [12]:
len(df_a.columns) + len(df_b.columns) + len(df_c.columns) + len(df_d.columns)

1021

In [13]:
df_ab = pd.concat([df_a, df_b], axis=1)
df_abc = pd.concat([df_ab, df_c], axis=1)
df_X = pd.concat([df_abc, df_d], axis=1)
df = pd.concat([df_X, target], axis=1)

In [14]:
len(df.columns)

1022

In [15]:
df.to_csv("after_sub.csv")

In [28]:
df.iloc[:,:103].head()

,Numot,host_lat,host_long,team1_adjde,team1_adjoe,team1_adjtempo,team1_ap_final,team1_ap_preseason,team1_arate,team1_blockpct,...,team2_elv,Round,team1_32,team1_16,team1_8,team1_4,team2_32,team2_16,team2_8,team2_4
0,-0.237284,-0.507397,1.018489,-0.208378,0.006767,0.805184,0.332626,2.592962,-1.057566,-0.853731,...,3.971837,1,-0.355152,-0.723093,-0.070572,-0.787510,-1.922469,-1.294608,-0.906659,-0.797442
1,-0.237284,-0.610814,-0.978750,0.479330,1.041179,1.678322,0.199345,-0.684015,0.104384,-1.116711,...,1.562966,1,0.417991,1.275113,0.916813,-0.787510,-1.922469,-1.294608,-0.906659,-0.797442
2,-0.237284,0.114768,-1.993774,-1.100287,-0.323589,-0.189211,-0.733620,2.319881,0.501630,0.621087,...,1450.022339,1,0.647071,0.442527,-0.358559,0.165006,-0.000770,-0.145149,-0.906659,-0.797442
3,-0.237284,0.129849,0.142382,-0.961018,0.629138,3.562058,-0.467059,0.271770,1.057752,0.533923,...,211.961777,1,0.997849,1.462445,1.981337,1.355650,-1.922469,-1.294608,-0.906659,-0.797442
4,-0.237284,-0.507397,1.018489,0.315771,0.388279,-0.311216,-0.733620,-0.684015,-1.465233,-1.700550,...,276.419739,1,-1.257153,-0.373407,0.361409,-0.787510,-0.577280,-0.489987,-0.385284,0.072974

# numot shouldn't be normalized